<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>优惠券</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/font/iconfont.css">
    <script src="../assets/js/jquery.js"></script>
    <script>
      $(readyRun);
      function readyRun() {
        setTimeout(hideCouponLayer,3000);
      }
      function hideCouponLayer() {
        $('#coupon-layer').hide();
      }
    </script>
  </head>
  <body>
    <div id="coupon-layer" class="coupon-modal-layer">
      <div class="modal-content coupon-modal-content">
        <div class="coupon-win">
          <img src="../assets/images/red_kid.png" />
          <div class="coupon-reminder">您暂时没有扫描该红包码
            抽奖的权限哦~</div>
        </div>
      </div>
    </div>
  </body>
</html>
