<!DOCTYPE html>
<!--核销成功-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>核销成功</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/font/iconfont.css">
    <script src="../assets/js/jquery.js"></script>
</head>
<body>
<div class="release-body">
    <div class="release-container">
        <div class="img-layer">
            <img class="right-signal" src="../assets/images/check.png"/>
        </div>
        <span class="release-success">核销成功</span>
    </div>
    <div class="release-coupon-content">
        满100减10
    </div>
</div>

<div class="release-info">
    <div class="info-item">
        <span class="info-title">核销时间</span>
        <span class="info-content">2017-10-09 16：24</span>
    </div>
    <div class="info-item">
        <span class="info-title">交易商户</span>
        <span class="info-content">望湘园长泰店</span>
    </div>
    <div class="info-item">
        <span class="info-title">核销人员</span>
        <span class="info-content">荆雪</span>
    </div>
</div>
</body>
</html>